// ====================================================================
// Extends
// ====================================================================

// -------------------------------------
// Clearfix
//	 
//	 Usage:
//	 .article-heading {
//	   @extend clearfix();
//	 }
//	 	 
// -------------------------------------

%clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}


// -------------------------------------
// Truncate text
//	 
//	 Usage:
//	 .text-truncate-1 {
//	   @extend text-truncate;
//	 }
//	 
//	 .text-truncate-2 {
//	   @extend text-truncate;
//	 }
//	 	 
// -------------------------------------

%text-truncate {
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}


// -------------------------------------
// Center-align
//	 
//	 Usage:
//	 .footer-wrap {
//	   width: 450px;
//	   @extend %center-block;
//	 }
//	 	 
// -------------------------------------

%center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}


// -------------------------------------
//	 Topbar animin effect
//	 	 
// -------------------------------------

%topbar-animin {
		  -webkit-transition: all .3s;
		  -moz-transition: all .3s;
		  -ms-transition: all .3s;
		  -ms-transition: all .3s;
		  transition: all .3s;  
		  backface-visibility:hidden;
		  -webkit-backface-visibility:hidden; /* Chrome and Safari */
		  -moz-backface-visibility:hidden; /* Firefox */
		  -ms-backface-visibility:hidden; /* Internet Explorer */
}