//Layout Config.
@import 'variables';
@import 'typography';

// Custom styles
body {
	font-family: "Rokkitt", sans-serif !important;
	color: $black;
	text-align: left;
}

*,
*:before,
*:after {
    @include box-sizing(border-box);
}

.container{
	@include center;
}

a {
	color: $gold;
	text-decoration: none;
		&:hover,
		&:focus{
			color: $gold-dark;
		}
	@include transition( all 0.3s );
}

i {
	@include transition( all 0.3s );
}

ul {
	list-style: none;
}
			
			
			
// Layout
@import 'header';
@import 'footer';