// Responsivo $breakpoint Media Queries
$desktop: 1920px;
$netbook: 1024px;
$tablet: 768px;
$mobile: 480px;
$mobile-small: 320px;

// Colors
$light-gray: #f4f4f4; 
$gray-medium: darken(#f4f4f4, 5);
$dark-gray: darken(#f4f4f4, 10);
$light-blue: #1b8ef0;

// Padding
