// ====================================================================
// Header
// ====================================================================

/* http: //live.yithemes.com/bishop/ */

.container{
	width: 100%;
	max-width: 1170px;
	@extend %center-block;
	@extend %clearfix;
}

/* Topbar */
#topbar{
	color: $white;
	font-size: rem(15);
	font-style: normal;
	font-weight: 400;
	text-align: left;
	text-transform: none;
	padding-top: 2px;
	line-height: 22px;
	outline: 0 none !important;
	background-color: $black;
	border-bottom-color: #212121;
	border-bottom: 1px solid #ebebeb;
	@extend %clearfix;
			
	a {
		color: $white;
		@include transition(color .3s ease);
			
		&:hover {
			color: $gold;
		}
	}

}

#contact,
#topbar-user {
	@include col(1/2);
	@extend %clearfix;
}

/* Lingua e Moeda */
#topbar-user{
	float: right;
	@extend %clearfix;
	
	ul{
		float: right;
		
		li{
			display: inline-block;
			font-size: em(12);
			padding-left: 10px;
			text-transform: uppercase;
			position: relative;
			@extend %clearfix;
			
			.lang-list--icon{
				float: right;
				font-size: .8em;
				line-height: 22px;
			}
			
			a i {
				font-size: 8px;
				margin-left: 2px;
			}
		}
	}

}

/* Redes Sociais */
.contact-list{
	@extend %clearfix;
	
	li {
		font-size: em(16);
		float: left;
		padding-right: 8px;
			
		a {
			margin: 4px;
			display: inline-block;
			line-height: normal;
		}
	}
	
	/* Telefone */
	.contact-list--tel{
		font-size: em(14);
	}
}

/* Top menu */
/* Logo */
#logo {
	@include col(2/12);
}

#logo-img {
	display: inline-block;
	max-width: 100%;
}

#logo img {
	vertical-align: middle;
	border: 0;
	height: auto;
	width: auto;
}

/* Menu topo */
#menu {
	padding: 0px;
	height: auto;
	list-style: none;
	font-size: rem(15);
	@include col(8/12);

}

#menu-nav {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	height: 100%;
	padding-left: 0px;
	
	> li{
		padding: 22px 15px;
		display: inline-block;
			
		&:hover .submenu {
			display: block;
		}

		> a{
			color: $black;
			font-size: em(15);
			text-transform: uppercase;
			@include transition(color .3s ease);
			
			&:hover {
				color: $gold;
			}
		}
	}
}

/* menu active class */
.active {
	color: $gold-dark;
}

/* submenu topo */
.submenu{
	position: absolute;
	display: none;
	top: 59px;
	width: 600px;
	padding-right: 0px;
	padding-bottom: 0px;
	border-top:solid 2px $gold;
	border-bottom: solid 1px $grey;
	@extend %clearfix;
	@include transition(color .3s ease);
}

.submenu-nav{
	width: 300px;
	display: table;
	overflow: hidden;
	display: block;
	float: left;
	padding: 0 20px;
	@extend %clearfix;
	
	.submenu-nav--title{
		text-transform: uppercase;
		line-height: 1.3em;
		padding-top: 16px;
		color: $black;
	}
	
	li {
		padding-bottom: 10px;
		border-color: #cdcdcd;
		@extend %clearfix;
		
		a{
			@extend .submenu-nav--title;
			color: darken($grey, 20);	
			@include transition(color .3s ease);
		
			&:hover {
				color: $gold;
			}
		}
	}	
}

/* bg menu narguiles nacionais */
.menu-narguiles {
	.narguiles-nacionais{
		background-image: url(http://live.yithemes.com/bishop/wp-content/uploads/sites/2/2014/06/Senza-titolo-42.jpg);
		background-position: 100% 100%;
		background-repeat: no-repeat;
		min-height: 393px;
	}
	
	/* bg menu narguiles internacionais */
	.narguiles-internacionais{
		background-image: url(http://live.yithemes.com/bishop/wp-content/uploads/sites/2/2014/06/26.jpg);
		background-position: 100% 100%;
		background-repeat: no-repeat;
		min-height: 393px;
	}
}

/* bg menu acessórios */
.menu-acessorios {
	.acessorios-narguiles{
		background-image: url(http://live.yithemes.com/bishop/wp-content/uploads/sites/2/2014/06/Senza-titolo-42.jpg);
		background-position: 100% 100%;
		background-repeat: no-repeat;
		min-height: 393px;
	}
	
	/* bg menu mangueiras */
	.acessorios-mangueiras{
		background-image: url(http://live.yithemes.com/bishop/wp-content/uploads/sites/2/2014/06/26.jpg);
		background-position: 100% 100%;
		background-repeat: no-repeat;
		min-height: 393px;
	}
}

.menu-essencias {	
	/* bg menu essencias tabaco */
	.essencias-tabaco{
		background-image: url(http://live.yithemes.com/bishop/wp-content/uploads/sites/2/2014/06/Senza-titolo-42.jpg);
		background-position: 100% 100%;
		background-repeat: no-repeat;
		min-height: 393px;
	}
	
	/* bg menu essencias artificiais */
	.essencias-artificial{
		background-image: url(http://live.yithemes.com/bishop/wp-content/uploads/sites/2/2014/06/26.jpg);
		background-position: 100% 100%;
		background-repeat: no-repeat;
		min-height: 393px;
	}
}

.menu-carvao {	

	.submenu{
		width: 300px;
	}

	/* bg menu essencias tabaco */
	.carvao-coco{
		background-image: url(http://live.yithemes.com/bishop/wp-content/uploads/sites/2/2014/06/Senza-titolo-42.jpg);
		background-position: 100% 100%;
		background-repeat: no-repeat;
		min-height: 393px;
	}
}

/* Search home */
#search{
	@include col(1/12);
	font-size: rem(15);
	position: relative;
	display: block;
	vertical-align: middle;
	
	.search-form{
		position: absolute;
		display: block;
		top: 59px;
		right: 0px;
		width: 600px;
		padding: 16px 20px;
		border-top:solid 2px $gold;
		border-bottom: solid 1px $grey;
		@extend %clearfix;
	}
		
	> a{
		padding: 22px 15px;
		display: inline-block;
		color: $black;
		font-size: em(15);
		text-transform: uppercase;
		@include transition(color .3s ease);
			
		&:hover {
			color: $gold;
		}
	}
	
	&:hover .search-form {
		display: block;
	}
}

/* Geral form  */
.form-control {
	width: 100%;
	
	label {
		font-weight: 400;
		text-transform: uppercase;
		font-size: 12px;
		padding: 0;
		line-height: normal;
		text-align: left;
		display: inline-block;
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: 700;
		width: 100%;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="search"],
	textarea {
		@include col(9/12);
		border-radius: 0;
		-webkit-appearance: none;
		height: 34px;
		padding: 6px 12px;
		font-size: em(15);
		color: $black;
		background-color: $white;
		background-image: none;
		border: 1px solid $grey;
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}

	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	input[type="search"]:focus,
	input[type="submit"]:focus,
	textarea {
		border-color: $gold;
	}
	
	#form-submit{
		@include col(3/12);
		border-radius: 0;
		-webkit-appearance: none;
		height: 34px;
		padding: 6px 12px;
		font-size: em(15);
		text-transform: uppercase;
		text-align: center;
		color: $blue-silver;
		background-color: $white;
		background-image: none;
		border: 1px solid;
		border-color: $blue-silver;
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

		&:hover{
			color: $white;
			background-color: $blue-silver;
			background: $blue-silver;
		}
	
	}	
	
	
}



































/*



.parents-options{
	@include col(1/4);
	font-size: rem(16);
	
	.currency{
		@include col(1/2);
		font-size: em(13);
	}
	
	.language{
		@include col(1/2);
		font-size: em(13);
	}
}

.purchase-menu{
	@include col(3/4);
	font-size: rem(16);
	
	ul{
		float: right;
		li{
			font-size: em(13);
			float:left;
			display:list-item;
			list-style: none;
			
			& a{
				display:block;
				text-decoration:none;	
				margin-right: em(15);
				@include transition (all 0.2s ease-in-out);
				
				&:hover{
					color: $light-blue;
				}
			}
		}
	}
}
















aside {
 @include col(1/3);
 background: #1c893b;
 font-size: rem(20);
 
 	p {
	 font-size: em(20);	
 	}
 
  @include breakpoint($desktop) {
    @include col(2/3);
  }
}

article {
 @include col(2/3);
 background: #1920e3;
 font-size: rem(40);
 
 	h1 {
	 font-size: em(20);	
 	}
 
}



header {
  @include breakpoint($desktop) {
    background: #333;
  }
}

header {
  @include breakpoint($mobile-small) {
    background: #f80b0b;
  }
}

header {
  @include breakpoint($tablet) {
    background: #ff00f2;
  }
}
*/

   